**/test*
Implementation/.idea/
Rapport/main.aux
Rapport/main.bbl
Rapport/main.blg
Rapport/main.brf
Rapport/main.log
Rapport/main.out
Rapport.zip
Rapport/includes.log
Rapport/main.pdf
Rapport/main.synctex.gz
Rapport/main.toc
Rapport/texput.log

gringo-4.5.4-linux-x86_64/
